.table-view .column-header {
    -fx-border-style: solid;
    -fx-border-color: rgb(32, 32, 32);
    -fx-border-radius: 0;
    -fx-font: 13px "Lucida Grande";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-border-insets: 0 .5 .5 0, 0 .25 .25 0;
    -fx-border-width: 0.0005em, 0.0005em;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-view {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-radius: 0;
    -fx-border-insets: 0 0 0 0, 0 0 0 0;
    -fx-border-width: 0em, 0em;
    -fx-table-cell-border-color: transparent;
}

.table-view:focused {
    -fx-border-color: transparent;
    -fx-border-width: -1;
    -fx-border-insets: -1, -1, 1-1, -1;
}

.button {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.combo-box {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3.5, 0.0 , 0 , 1.5 );
}

.cell.indexed-cell.table-row-cell:even {
    -fx-background-color: #eee;
}

.cell.indexed-cell.table-row-cell:odd {
    -fx-background-color: #ddd;
}

.cell.indexed-cell.table-row-cell:selected {
    -fx-background-color: red;
}